@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background-image: url('./assets/bgimg.jpg'); /* Ensure the path is correct */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;

 }

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffff ;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #fff ;
  margin-bottom: 20px;
}

.goal-list {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}
